{% extends 'base.html.twig' %}

{% block title %}Peluqueria Nombre{% endblock %}

{% block body %}

    <link href="{{ asset('css/estilos.css') }}" rel="stylesheet" />

    <h1> Peluqueria Nombre </h1>
    <div class="container 1">
    </div>

{% endblock %}
